 [class*="col-"], .col{
    color: white;
    border: 1px solid white;
 }
 .row{
    background-color: dodgerblue;
}

.center {
    justify-content: center;
    text-align: center;
 }
 
 
 .p-1{
    padding: 10px;
 }
 .p-2{
    padding: 20px;
 }
 
 .bg-active{
    background-color: rgb(48, 237, 48);
 }

 .pt-30{
     padding-top: 30px;
 }

 .height{
     height: 40px;
 }

 .border{
    border: 1px solid white;
 }
